body {
    display: flex;
    margin: 0;
    max-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    color: red;
    display: flex;
    justify-content: end;
    width: 95vw;
    padding: 20px;
}

a {
    margin: 5px;
}

input {
    border-radius: 20px;
    padding: 10px;
    margin: 4px;

}

form {
    margin: 0;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 20px;
    padding: 10px;
    background-color: green;
    color: white;
}

#advanced {
    border-radius: 20px;
    padding: 10px;
    background-color: blue;
    color: white;
}

.quest {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: start;
}